<template lang='pug'>
  .submit-setting
    el-breadcrumb(separator-class="el-icon-arrow-right")
      el-breadcrumb-item(:to="{ path: '/' }") 首页
      el-breadcrumb-item 白名单设置
    el-button( type="primary" @click="dialogVisible = true" icon="el-icon-circle-plus" style="margin: 20px 0px 20px 0px;") 添加员工
    el-table(
      :data="tableData"
      stripe
    )
      el-table-column(
        prop="name"
        label="姓名"
        min-width="120"
      )
      el-table-column(
        prop="department"
        label="所属部门"
        min-width="200"
      )
      el-table-column(
        fixed="right"
        label="操作"
        min-width="100"
      )
        template(slot-scope="scope")
          el-button( @click.native.prevent="deleteRow(scope.$index, tableData)" type="text" size="small") 删除
    el-dialog(
        title="添加白名单"
        :visible.sync="dialogVisible"
        width="400px"
        :before-close="handleClose"
        :close-on-click-modal="false"
      )
        el-form(:model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm")
          el-form-item(label="添加人员" prop="name")
              el-select(
                v-model="ruleForm.name"
                multiple
                filterable
                allow-create
                default-first-option
                placeholder="请选择"
                :popper-append-to-body='false'
                @click.native="colleagueChoose()"
              )
          el-form-item
            el-button(type="primary" @click="submitForm('ruleForm')") 添加
            el-button(@click="dialogVisible = false") 取 消
</template>

<script>
import dd from 'dingtalk-jsapi'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      dialogVisible: false,
      tableData: [],
      ruleForm: {
        name: [],
        userid: []
      },
      rules: {
        name: [{ required: true, message: '请选择', trigger: 'blur' }]
      }
    }
  },
  created() {
    this.getWhiteList()
  },
  methods: {
    ...mapActions('system', [
      'fetchCreateWhite',
      'fetchGetWhiteList',
      'fetchDeleteWhite'
    ]),
    // 关闭Dialog前的回调
    handleClose(done) {
      this.resetForm()
      done()
    },
    // 重置表单
    resetForm() {
      this.ruleForm.name = []
      this.ruleForm.userid = []
    },
    // 删除
    deleteRow(index, rows) {
      this.fetchDeleteWhite(rows[index].userid).then(res => {
        if (res.status === 200) {
          this.getWhiteList()
          this.$message({ type: 'success', message: '删除成功' })
        }
      })
    },
    // 钉钉通讯录
    colleagueChoose() {
      const _this = this
      dd.biz.contact.complexPicker({
        title: '选择要添加的员工', // 标题
        corpId: 'ding57ff116cf0c88b8f35c2f4657eb6378f', // 企业的corpId
        multiple: true, // 是否多选
        limitTips: '超出了', // 超过限定人数返回提示
        maxUsers: 1000, // 最大可选人数
        appId: 537601165, // 微应用Id，企业内部应用查看AgentId
        responseUserOnly: true, // 返回人，或者返回人和部门
        startWithDepartmentId: 0, // 仅支持0和-1
        onSuccess: function(result) {
          console.log(result)
          result.users.forEach(res => {
            _this.ruleForm.name.push(res.name)
            _this.ruleForm.userid.push(res.emplId)
          })
        },
        onFail: function(err) {
          console.log(err)
        }
      })
    },
    // 添加人员
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.fetchCreateWhite(this.ruleForm).then(res => {
            if (res.status === 200) {
              this.dialogVisible = false
              this.resetForm()
              this.getWhiteList()
              this.$message({ type: 'success', message: '添加成功' })
            } else {
              this.dialogVisible = false
              this.resetForm()
              this.$message({ type: 'error', message: '添加失败' })
            }
          })
        } else {
          return false
        }
      })
    },
    // 获取白名单列表
    getWhiteList() {
      this.fetchGetWhiteList().then(res => {
        if (res.status === 200) {
          this.tableData = res.data
        }
      })
    }
  }
}
</script>
<style lang='scss' scoped>
/deep/ .el-select-dropdown {
  display: none !important;
}
.el-dialog__body {
  padding: 20px;
}
.el-form-item:last-child {
  margin-top: 40px;
}
</style>
