// 颜色
$color-black: #000;
$color-white: #fff;
$color-primary: #409EFF; // 基本色
$color-success: #7fc141;
$color-warning: #f7914d;
$color-error: #df0000;
// 文字颜色
$color-text-primary: #333;
$color-text-regular: #666;
$color-text-secondary: #999;
$color-text-placeholder: #ccc;
// 边框颜色
$border-color-base: #ddd;
$border-color-light: #ebebeb;
$border-color-lighter: #eee;
// 边框圆角
$border-radius: 4px;
// z-index
$z-index-normal: 999;
$z-index-higher: 9999;

// mixins
@mixin singleLine {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
@mixin multiLine($line: 2) {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	text-overflow: ellipsis;
	overflow: hidden;
}
@mixin border($border-color, $width: 1px, $style: solid) {
  border: $width $style $border-color;
}
@mixin borderTop($border-color, $width: 1px, $style: solid) {
  border-top: $width $style $border-color;
}
@mixin borderRight($border-color, $width: 1px, $style: solid) {
  border-right: $width $style $border-color;
}
@mixin borderBottom($border-color, $width: 1px, $style: solid) {
  border-bottom: $width $style $border-color;
}
@mixin borderLeft($border-color, $width: 1px, $style: solid) {
  border-left: $width $style $border-color;
}
