@media screen and (max-width: 480px) {
  // element style
  .el-main {
    padding: 10px;
  }
  .el-breadcrumb {
    font-size: 12px;
  }
  .el-button {
    font-size: 12px;
    padding: 8px 8px;
  }
  .el-dialog{
    min-width: 320px !important;
  }
  .el-dialog__header{
    padding: 10px;
  }
  .el-dialog__body{
    padding: 10px 10px 10px 10px;
  }
  .el-col-12{
    width: 78%;
  }
  // default style
  .main-content {
    min-width: 268px;
  }
  .add {
    margin: 10px 10px 0px 10px !important;
    label {
      line-height: 30px;
      font-size: 12px!important;
    }
  }
  .my-work-log{
    margin: 10px 10px 10px 10px!important;
  }
  .statistical-data {
    margin: 10px 10px 10px 10px!important;
    padding: 10px!important;
  }
  .statistical-data .tag-group span{
    margin-left: 6px!important;
    margin-top: 6px!important;
    padding: 0px 3px 3px 3px;
  }
}
