<template lang="pug">
  .add-work-log(v-loading="loading",
    element-loading-text="拼命加载中"
    element-loading-spinner="el-icon-loading"
    style="height:100%"
  )
    el-breadcrumb(separator-class="el-icon-arrow-right")
      el-breadcrumb-item(:to="{ path: '/' }") 首页
      el-breadcrumb-item 我的日报
      el-breadcrumb-item 填写日报
    .add
      el-button( type="primary" @click="dialogVisible = true" icon="el-icon-circle-plus") 新建事项
      label {{effectiveTime}}
      label 可提交日报日期 :
    .my-work-log
      .tips(v-if="visible3")
        p(@click="dialogVisible = true") 还没有填写工作事项哦～
      el-timeline
        el-timeline-item(
          v-for="(item,index) in matterList"
          :key="index"
          :timestamp="item.startTime2 ? item.startTime + ' - ' + item.endTime + ' | ' + item.startTime2 + ' - ' + item.endTime2 : item.startTime + ' - ' + item.endTime "
          icon="el-icon-s-order"
          type="primary"
          size="large"
          placement="top"
        )
          el-card
            h4 事项:
              span {{item.matter}}
            h4 内容:
              span {{item.content}}
            .operation
              el-button(type="success" icon="el-icon-edit" @click="editWorkLog(item,index)") 编辑
              el-button(type="danger" icon="el-icon-delete" @click="deleteWorkLog(index)") 删除
    .others
      .statistical-data(v-if='statisticsList.length === 0 ? false : true ')
        .tag-group
          i(class="el-icon-question")
            label 已提交/未提交 （{{statisticsList.commit}}/{{statisticsList.uncommit}}）
          br
          el-tag(
            v-for="item in statisticsList.statisticsList"
            :key="item.name"
            :type="item.status === 'commit' ? 'primary' : 'danger'"
            effect="dark"
          ) {{ item.name }}
    el-dialog(
        title="新建事项"
        :visible.sync="dialogVisible"
        width="30%"
        :before-close="handleClose"
        :close-on-click-modal="true"
      )
        el-form(:model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm")
          el-form-item(label="工作事项" prop="matter")
            el-input(type="textarea" v-model="ruleForm.matter" :rows="2" placeholder="请输入工作事项")
          el-form-item(label="工作内容" prop="content")
            el-input(type="textarea" v-model="ruleForm.content" :rows="3" placeholder="请输入工作内容")
          el-form-item(label="参与同事" prop="coworkers")
            el-col(:span="12")
              el-select(
                v-model="ruleForm.coworkers"
                multiple
                filterable
                allow-create
                default-first-option
                placeholder="请选择院内同事"
                :popper-append-to-body='false'
                @click.native="colleagueChoose()"
              )
          el-form-item(label="参与伙伴" prop="partners")
            el-col(:span="12")
              el-input(type="input" v-model="ruleForm.partners" :rows="1" placeholder="请输入院外伙伴")
          el-form-item(label="状态效果" prop="status")
            el-col(:span="12")
              el-select(v-model="ruleForm.status" placeholder="请选择或输入" filterable allow-create clearable)
                el-option(label="进行中" value="进行中")
                el-option(label="已完成" value="已完成")
          el-form-item(label="所用时段" required class="default")
            el-col(:span="9")
              el-form-item(prop="startTime")
                el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.startTime" style="width: 100%;")
            el-col(class="line" :span="1") -
            el-col(:span="9")
              el-form-item(prop="endTime")
                el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.endTime" style="width: 100%;")
            i(class="el-icon-circle-plus" v-if="visible4" style="font-size:20px;line-height:40px;color:#409EFF;margin-left:10px;" @click="eject")
            el-form-item(class="default" v-if="visible2")
              el-col(:span="9")
                el-form-item(prop="startTime2")
                  el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.startTime2" style="width: 100%;")
              el-col(class="line" :span="1") -
              el-col(:span="9")
                el-form-item(prop="endTime2")
                  el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.endTime2" style="width: 100%;")
              i(class="el-icon-remove" style="font-size:20px;margin:70px 0px 0px 10px;color:#F56C6C;" @click="visible2=false;visible4=true;ruleForm.startTime2=null;ruleForm.endTime2=null")
          el-form-item(label="后续计划" prop="plan")
            el-input(type="textarea" v-model="ruleForm.plan" placeholder="请输入后续计划")
          el-form-item(label="问题建议" prop="suggestion")
            el-input(type="textarea" v-model="ruleForm.suggestion" placeholder="请输入问题建议")
          el-form-item
            el-button(type="primary" @click="submitForm('ruleForm')") 立即创建
            el-button(@click="resetForm('ruleForm')") 重置
    el-dialog(
        title="修改事项"
        :visible.sync="dialogVisible2"
        width="30%"
        :before-close="modifyHandleClose"
        :close-on-click-modal="false"
      )
        el-form(:model="modifyRuleForm" :rules="rules" ref="modifyRuleForm" label-width="100px" class="demo-ruleForm")
          el-form-item(label="工作事项" prop="matter")
            el-input(type="textarea" v-model="modifyRuleForm.matter" :rows="2" placeholder="请输入工作事项")
          el-form-item(label="工作内容" prop="content")
            el-input(type="textarea" v-model="modifyRuleForm.content" :rows="3" placeholder="请输入工作内容")
          el-form-item(label="参与同事" prop="coworkers")
            el-col(:span="12")
              el-select(
                v-model="modifyRuleForm.coworkers"
                multiple
                filterable
                allow-create
                default-first-option
                placeholder="请选择院内同事"
                :popper-append-to-body='false'
                @click.native="colleagueChoose()"
              )
          el-form-item(label="参与伙伴" prop="partners")
            el-col(:span="12")
              el-input(type="input" v-model="modifyRuleForm.partners" :rows="1" placeholder="请输入院外伙伴")
          el-form-item(label="状态效果" prop="status")
            el-col(:span="12")
              el-select(v-model="modifyRuleForm.status" placeholder="请选择" filterable allow-create clearable)
                el-option(label="进行中" value="1")
                el-option(label="已完成" value="2")
          el-form-item(label="所用时段" required class="default")
            el-col(:span="9")
              el-form-item(prop="startTime")
                el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.startTime" style="width: 100%;")
            el-col(class="line" :span="1") -
            el-col(:span="9")
              el-form-item(prop="endTime")
                el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.endTime" style="width: 100%;")
            i(class="el-icon-circle-plus" v-if="!modifyRuleForm.startTime2 && visible4" style="font-size:20px;line-height:40px;color:#409EFF;margin-left:10px;" @click="eject2")
            el-form-item(class="default" v-if="modifyRuleForm.startTime2 || visible2")
              el-col(:span="9")
                el-form-item(prop="startTime2")
                  el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.startTime2" style="width: 100%;")
              el-col(class="line" :span="1") -
              el-col(:span="9")
                el-form-item(prop="endTime2")
                  el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.endTime2" style="width: 100%;")
              i(class="el-icon-remove" style="font-size:20px;margin:70px 0px 0px 10px;color:#F56C6C;" @click="visible2=false;visible4=true;modifyRuleForm.startTime2=null;modifyRuleForm.endTime2=null")
          el-form-item(label="后续计划" prop="plan")
            el-input(type="textarea" v-model="modifyRuleForm.plan" placeholder="请输入后续计划")
          el-form-item(label="问题建议" prop="suggestion")
            el-input(type="textarea" v-model="modifyRuleForm.suggestion" placeholder="请输入问题建议")
          el-form-item
            el-button(type="primary" @click="modify('modifyRuleForm')") 立即修改
</template>

<script>
import { mapActions, mapState } from 'vuex'
import moment from 'moment'
import dd from 'dingtalk-jsapi'
export default {
  data() {
    return {
      visible: false,
      visible2: false,
      visible3: true,
      visible4: true,
      dialogVisible: false,
      dialogVisible2: false,
      loading: false,
      ruleForm: {
        matter: '',
        content: '',
        coworkers: [],
        partners: '',
        status: '',
        startTime: null,
        endTime: null,
        startTime2: null,
        endTime2: null,
        plan: '',
        suggestion: ''
      },
      modifyRuleForm: {
        matter: '',
        content: '',
        coworkers: [],
        partners: '',
        status: '',
        startTime: null,
        endTime: null,
        startTime2: null,
        endTime2: null,
        plan: '',
        suggestion: ''
      },
      effectiveTime: '',
      index: '',
      id: '', // 日报ID
      rules: {
        matter: [
          { required: true, message: '请填写工作事项', trigger: 'blur' }
        ],
        content: [
          { required: true, message: '请填写工作内容', trigger: 'blur' }
        ],
        status: [
          { required: true, message: '请选择状态效果', trigger: 'blur' }
        ],
        startTime: [
          { required: true, message: '请选择开始时间', trigger: 'blur' }
        ],
        endTime: [
          { required: true, message: '请选择结束时间', trigger: 'blur' }
        ]
      },
      matterList: [],
      statisticsList: []
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.tool.userInfo
    }),
    date() {
      let time = moment().format('YYYYMMDD')
      return new Date().getHours() < 10 ? time - 1 : time
    }
  },
  created() {
    this.getDaily()
    this.getStatistic()
    if (new Date().getHours() < 10) {
      this.effectiveTime = moment()
        .subtract(1, 'days')
        .format('YYYY/MM/DD')
    } else {
      this.effectiveTime = moment().format('YYYY/MM/DD')
    }
  },
  methods: {
    ...mapActions('daily', [
      'fetchCreateDaily',
      'fetchGetDaily',
      'fetchUpdateDaily',
      'fetchGetStatistic',
      'fetchGetColleague'
    ]),
    // 获取日报统计数据
    getStatistic() {
      this.loading = true
      this.fetchGetStatistic().then(res => {
        if (res.status === 200) {
          this.statisticsList = res.data
          this.loading = false
        }
      })
    },
    // 拉取日报
    getDaily() {
      this.loading = true
      this.fetchGetDaily(this.date).then(res => {
        if (res.status === 200) {
          if (res.data[0].workMatters.length === 0) {
            this.visible3 = true
          } else {
            this.visible3 = false
          }
          this.id = res.data[0]._id
          this.plan = res.data[0].plan
          this.suggestion = res.data[0].suggestion
          this.matterList = res.data[0].workMatters
          this.loading = false
        } else {
          this.loading = false
        }
      })
    },

    // 创建日报事项
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.matterList.push(this.ruleForm)
          let data = {
            date: this.date,
            workMatters: this.matterList
          }
          this.fetchCreateDaily(data).then(res => {
            if (res.status === 200) {
              this.$message({ type: 'success', message: res.msg })
              this.getDaily()
              this.resetForm('ruleForm')
              this.getStatistic()
              this.visible2 = false
              this.visible4 = true
            } else {
              this.matterList.pop()
              this.resetForm('ruleForm')
            }
          })
          this.dialogVisible = false
        } else {
          return false
        }
      })
    },

    // 关闭Dialog前的回调
    handleClose(done) {
      this.resetForm('ruleForm')
      this.visible2 = false
      this.visible4 = true
      done()
    },
    modifyHandleClose(done) {
      this.resetForm('modifyRuleForm')
      this.visible2 = false
      this.visible4 = true
      done()
    },

    // 重置表单
    resetForm(formName) {
      this.$refs[formName].resetFields()
    },

    // 立即修改事项
    modify(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.matterList.splice(this.index, 1)
          this.matterList.splice(this.index, 0, this.modifyRuleForm)
          this.fetchUpdateDaily({
            id: this.id,
            workMatters: this.matterList
          }).then(res => {
            if (res.status === 200) {
              this.getDaily()
              this.$message({ type: 'success', message: res.msg })
              this.dialogVisible2 = false
            } else {
              this.$message({ type: 'error', message: res.msg })
            }
          })
        } else {
          return false
        }
      })
    },

    // 删除日报事项
    deleteWorkLog(index) {
      this.matterList.splice(index, 1)
      this.fetchUpdateDaily({
        id: this.id,
        workMatters: this.matterList
      }).then(res => {
        if (res.status === 200) {
          this.getDaily()
          this.getStatistic()
          this.$message({ type: 'success', message: '删除日报事项成功!' })
        } else {
          this.$message({ type: 'error', message: '删除日报事项失败!' })
        }
      })
    },

    // 编辑日报事项
    editWorkLog(item, index) {
      this.index = index
      this.modifyRuleForm = JSON.parse(JSON.stringify(item))
      this.dialogVisible2 = true
    },
    // 钉钉通讯录
    colleagueChoose() {
      const _this = this
      dd.biz.contact.complexPicker({
        title: '选择参与同事', // 标题
        corpId: 'ding57ff116cf0c88b8f35c2f4657eb6378f', // 企业的corpId
        multiple: true, // 是否多选
        limitTips: '超出了', // 超过限定人数返回提示
        maxUsers: 1000, // 最大可选人数
        appId: 537601165, // 微应用Id，企业内部应用查看AgentId
        responseUserOnly: false, // 返回人，或者返回人和部门
        startWithDepartmentId: 0, // 仅支持0和-1
        onSuccess: function(result) {
          result.departments.forEach(res => {
            _this.ruleForm.coworkers.push(res.name)
          })
          result.users.forEach(res => {
            _this.ruleForm.coworkers.push(res.name)
          })
        },
        onFail: function(err) {
          console.log(err)
        }
      })
    },

    // 弹出第二时间段
    eject() {
      if (this.ruleForm.startTime !== null && this.ruleForm.endTime !== null) {
        this.visible2 = true
        this.visible4 = false
      } else {
        this.$message({
          type: 'error',
          message: '请完整填写后添加'
        })
      }
    },
    eject2() {
      if (
        this.modifyRuleForm.startTime !== null &&
        this.modifyRuleForm.endTime !== null
      ) {
        this.visible2 = true
        this.visible4 = false
      } else {
        this.$message({
          type: 'error',
          message: '请完整填写后添加'
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
/deep/ .el-dialog {
  min-width: 560px;
  margin-top: 10vh !important;
}
/deep/ .el-select-dropdown {
  display: none !important;
}
/deep/ .el-dialog__body {
  padding: 20px 20px 10px 0px;
}
.el-form-item {
  margin-bottom: 18px;
}
.el-cascader {
  width: 100%;
}
.el-select {
  width: 100%;
}
.default {
  margin-bottom: 0px;
}
.add {
  margin: 20px 80px 0px 20px;
  /* float: right; */
  label {
    color: #68a9eb;
    float: right;
    font-size: 14px;
    line-height: 40px;
    margin-left: 6px;
  }
}
.line {
  text-align: center;
}
.operation {
  // display: inline-block;
  float: right;
  position: absolute;
  top: 40px;
  right: 20px;
  button {
    padding: 8px 8px;
  }
}
.my-work-log {
  min-height: 100px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.14);
  h4 {
    overflow: auto;
    display: inline-block;
    word-break: break-all;
    span {
      font-weight: 400;
      text-indent: 2em;
      margin-left: 4px;
    }
  }
  h4:last-of-type {
    width: 100%;
    margin-top: 10px;
    position: relative;
  }
  .tips p {
    text-align: center;
    font-size: 12px;
    color: #71737a;
    margin-top: 25px;
  }
}

.others {
  margin-top: 10px;
}

.statistical-data {
  margin: 10px 20px 10px 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.14);
  .tag-group {
    width: 100%;
    height: 100%;
    text-align: justify;
  }
  .tag-group:after {
    content: '';
    display: inline-block;
    overflow: hidden;
    width: 100%;
  }
  .tag-group span {
    margin-left: 16px;
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    width: 58px;
    height: 32px;
    line-height: 32px;
  }
  .tag-group label {
    font-size: 14px;
  }
}
</style>
