  <template lang="pug">
    .add-work-log
      el-breadcrumb(separator-class="el-icon-arrow-right")
        el-breadcrumb-item(:to="{ path: '/' }") 首页
        el-breadcrumb-item 我的日报
        el-breadcrumb-item 补交日报
      .add
        el-button( type="primary" @click="dialogVisible = true;" icon="el-icon-circle-plus") 新建事项
        el-form(label-width="100px" :rules="rules")
          el-form-item(label="补交日期" required)
            el-tooltip(class="item" effect="dark" content="早10:00 - 晚6:00" placement="bottom")
              i(class="el-icon-question")
              div(slot="content")
                p 次日 14:00 后计为晚交
            el-date-picker( v-model="repairTime" type="date" placeholder="选择日期" value-format="yyyyMMdd" style="width:150px" :picker-options="pickerOptions")
          el-form-item(label="补交原因" required)
            el-input(v-model="lateReason" placeholder="请输入补交原因")
      .my-work-log
        .tips(v-if="visible3")
          p(@click="dialogVisible = true") 还没有填写工作事项哦～
        el-timeline
          el-timeline-item(
            v-for="(item,index) in matterList"
            :key="index"
            :timestamp="item.startTime2 ? item.startTime + ' - ' + item.endTime + ' | ' + item.startTime2 + ' - ' + item.endTime2 : item.startTime + ' - ' + item.endTime "
            icon="el-icon-s-order"
            type="primary"
            size="large"
            placement="top"
          )
            el-card
              h4 事项:
                span {{item.matter}}
              h4 内容:
                span {{item.content}}
              .operation
                el-button(type="success" icon="el-icon-edit" @click="editWorkLog(item,index)") 编辑
                el-button(type="danger" icon="el-icon-delete" @click="deleteWorkLog(index)") 删除
      .commit
        el-button(type="primary" icon="el-icon-thumb" @click="commit()") 提交日报
      el-dialog(
          title="新建事项"
          :visible.sync="dialogVisible"
          width="30%"
          :before-close="handleClose"
          :close-on-click-modal="false"
        )
          el-form(:model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm")
            el-form-item(label="工作事项" prop="matter")
              el-input(type="textarea" v-model="ruleForm.matter" :rows="2" placeholder="请输入工作事项")
            el-form-item(label="工作内容" prop="content")
              el-input(type="textarea" v-model="ruleForm.content" :rows="3" placeholder="请输入工作内容")
            el-form-item(label="参与同事" prop="coworkers")
              el-col(:span="12")
                el-select(
                  v-model="ruleForm.coworkers"
                  multiple
                  filterable
                  allow-create
                  default-first-option
                  placeholder="请选择院内同事"
                  :popper-append-to-body='false'
                  @click.native="colleagueChoose()"
                )
            el-form-item(label="参与伙伴" prop="partners")
              el-col(:span="12")
                el-input(type="input" v-model="ruleForm.partners" :rows="1" placeholder="请输入院外伙伴")
            el-form-item(label="状态效果" prop="status")
              el-col(:span="12")
                el-select(v-model="ruleForm.status" placeholder="请选择" filterable allow-create clearable)
                  el-option(label="进行中" value="进行中")
                  el-option(label="已完成" value="已完成")
            el-form-item(label="所用时段" required class="default")
              el-col(:span="9")
                el-form-item(prop="startTime")
                  el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.startTime" style="width: 100%;")
              el-col(class="line" :span="1") -
              el-col(:span="9")
                el-form-item(prop="endTime")
                  el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.endTime" style="width: 100%;")
              i(class="el-icon-circle-plus" v-if="visible4" style="font-size:20px;line-height:40px;color:#409EFF;margin-left:10px;" @click="eject")
              el-form-item(class="default" v-if="visible2")
                el-col(:span="9")
                  el-form-item(prop="startTime2")
                    el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.startTime2" style="width: 100%;")
                el-col(class="line" :span="1") -
                el-col(:span="9")
                  el-form-item(prop="endTime2")
                    el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="ruleForm.endTime2" style="width: 100%;")
                i(class="el-icon-remove" style="font-size:20px;margin:70px 0px 0px 10px;color:#F56C6C;" @click="visible2=false;visible4=true;ruleForm.startTime2=null;ruleForm.endTime2=null")
            el-form-item(label="后续计划" prop="plan")
              el-input(type="textarea" v-model="ruleForm.plan" placeholder="请输入后续计划")
            el-form-item(label="问题建议" prop="suggestion")
              el-input(type="textarea" v-model="ruleForm.suggestion" placeholder="请输入问题建议")
            el-form-item
              el-button(type="primary" @click="submitForm('ruleForm')") 添 加
              el-button(@click="resetForm('ruleForm')") 重 置
      el-dialog(
          title="修改事项"
          :visible.sync="dialogVisible2"
          width="30%"
          :before-close="modifyHandleClose"
          :close-on-click-modal="false"
        )
          el-form(:model="modifyRuleForm" :rules="rules" ref="modifyRuleForm" label-width="100px" class="demo-ruleForm")
            el-form-item(label="工作事项" prop="matter")
              el-input(type="textarea" v-model="modifyRuleForm.matter" :rows="2" placeholder="请输入工作事项")
            el-form-item(label="工作内容" prop="content")
              el-input(type="textarea" v-model="modifyRuleForm.content" :rows="3" placeholder="请输入工作内容")
            el-form-item(label="参与同事" prop="coworkers")
              el-col(:span="12")
                el-select(
                  v-model="modifyRuleForm.coworkers"
                  multiple
                  filterable
                  allow-create
                  default-first-option
                  placeholder="请选择院内同事"
                  :popper-append-to-body='false'
                  @click.native="colleagueChoose()"
                )
            el-form-item(label="参与伙伴" prop="partners")
              el-col(:span="12")
                el-input(type="input" v-model="modifyRuleForm.partners" :rows="1" placeholder="请输入院外伙伴")
            el-form-item(label="状态效果" prop="status")
              el-col(:span="12")
                el-select(v-model="modifyRuleForm.status" placeholder="请选择")
                  el-option(label="进行中" value="1")
                  el-option(label="已完成" value="2")
            el-form-item(label="所用时段" required class="default")
              el-col(:span="9")
                el-form-item(prop="startTime")
                  el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.startTime" style="width: 100%;")
              el-col(class="line" :span="1") -
              el-col(:span="9")
                el-form-item(prop="endTime")
                  el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.endTime" style="width: 100%;")
              i(class="el-icon-circle-plus" v-if="!modifyRuleForm.startTime2 && visible4" style="font-size:20px;line-height:40px;color:#409EFF;margin-left:10px;" @click="eject2")
              el-form-item(class="default" v-if="modifyRuleForm.startTime2 || visible2")
                el-col(:span="9")
                  el-form-item(prop="startTime2")
                    el-time-picker(placeholder="开始时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.startTime2" style="width: 100%;")
                el-col(class="line" :span="1") -
                el-col(:span="9")
                  el-form-item(prop="endTime2")
                    el-time-picker(placeholder="结束时间" format="HH:mm" value-format="HH:mm" v-model="modifyRuleForm.endTime2" style="width: 100%;")
                i(class="el-icon-remove" style="font-size:20px;margin:70px 0px 0px 10px;color:#F56C6C;" @click="visible2=false;visible4=true;modifyRuleForm.startTime2=null;modifyRuleForm.endTime2=null")
            el-form-item(label="后续计划" prop="plan")
              el-input(type="textarea" v-model="modifyRuleForm.plan" placeholder="请输入后续计划")
            el-form-item(label="问题建议" prop="suggestion")
              el-input(type="textarea" v-model="modifyRuleForm.suggestion" placeholder="请输入问题建议")
            el-form-item
              el-button(type="primary" @click="modify('modifyRuleForm')") 修 改
  </template>

<script>
import { mapActions, mapState } from 'vuex'
import moment from 'moment'
import dd from 'dingtalk-jsapi'
export default {
  data() {
    return {
      visible: false,
      visible2: false,
      visible3: true,
      visible4: true,
      dialogVisible: false,
      dialogVisible2: false,
      repairTime: '',
      ruleForm: {
        matter: '',
        content: '',
        coworkers: [],
        partners: '',
        status: '',
        startTime: null,
        endTime: null,
        startTime2: null,
        endTime2: null,
        plan: '',
        suggestion: ''
      },
      modifyRuleForm: {
        matter: '',
        content: '',
        coworkers: [],
        partners: '',
        status: '',
        startTime: null,
        endTime: null,
        startTime2: null,
        endTime2: null,
        plan: '',
        suggestion: ''
      },
      id: '', // 日报ID
      index: '',
      lateReason: '',
      loading: false,
      rules: {
        matter: [
          { required: true, message: '请填写工作事项', trigger: 'blur' }
        ],
        content: [
          { required: true, message: '请填写工作内容', trigger: 'blur' }
        ],
        status: [
          { required: true, message: '请选择状态效果', trigger: 'blur' }
        ],
        startTime: [
          { required: true, message: '请选择开始时间', trigger: 'blur' }
        ],
        endTime: [
          { required: true, message: '请选择结束时间', trigger: 'blur' }
        ]
      },
      matterList: [],
      alreadyDateList: [],
      pickerOptions: {
        disabledDate: time => {
          let date = moment(time.getTime()).format('YYYYMMDD')
          return (
            this.alreadyDateList.indexOf(date) !== -1 ||
            time.getTime() > new Date() - 8.64e7
          )
        },
        cellClassName: time => {
          let date = moment(time.getTime()).format('YYYYMMDD')
          if (this.alreadyDateList.indexOf(date) !== -1) {
            return 'red'
          }
        }
      }
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.login.userInfo
    })
  },
  // 监听路由变化
  beforeRouteLeave(to, from, next) {
    this.$confirm('正在离开本页面，本页面内所有未提交数据都会丢失!', '警告', {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning',
      top: '80px'
    })
      .then(() => {
        next()
      })
      .catch(() => {
        next(false)
      })
  },
  created() {
    this.fetchGetLack().then(res => {
      if (res.status === 200) {
        this.alreadyDateList = res.data.alreadyDateList.toString()
      } else {
        this.$message({
          type: 'error',
          message: '请求失败,联系管理员！'
        })
      }
    })
  },
  methods: {
    ...mapActions('daily', [
      'fetchCreateDaily',
      'fetchGetDaily',
      'fetchUpdateDaily',
      'fetchGetLack'
    ]),
    // 拉取日报
    getDaily() {
      this.loading = true
      let date = this.repairTime
        .split('-')
        .toString()
        .replace(/,/g, '')
      this.fetchGetDaily(date).then(res => {
        if (res.status === 200) {
          this.visible3 = false
          this.plan = res.data[0].plan
          this.suggestion = res.data[0].suggestion
          this.matterList = res.data[0].workMatters
          this.loading = false
        } else {
          this.loading = false
          this.matterList = []
        }
      })
    },

    // 添加事项
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.matterList.push(JSON.parse(JSON.stringify(this.ruleForm)))
          this.dialogVisible = false
          this.visible3 = false
          this.visible2 = false
          this.visible4 = true
          this.resetForm(formName)
        } else {
          return false
        }
      })
    },

    // 关闭Dialog前的回调
    handleClose(done) {
      this.resetForm('ruleForm')
      this.visible2 = false
      this.visible4 = true
      done()
    },
    modifyHandleClose(done) {
      this.resetForm('modifyRuleForm')
      this.visible2 = false
      this.visible4 = true
      done()
    },

    // 重置表单
    resetForm(formName) {
      // debugger
      this.$refs[formName].resetFields()
    },

    // 修改事项
    modify(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.matterList.splice(this.index, 1)
          this.matterList.splice(this.index, 0, this.modifyRuleForm)
          this.dialogVisible2 = false
        } else {
          return false
        }
      })
    },

    // 删除日报事项
    deleteWorkLog(index) {
      this.matterList.splice(index, 1)
    },

    // 编辑日报事项
    editWorkLog(item, index) {
      this.index = index
      this.modifyRuleForm = JSON.parse(JSON.stringify(item))
      this.dialogVisible2 = true
    },

    // 提交日报
    commit(formName) {
      if (this.matterList.length === 0) {
        this.$message({ type: 'error', message: '请添加日报事项!' })
      } else if (!this.repairTime) {
        this.$message({ type: 'error', message: '请选择补交时间!' })
      } else if (!this.lateReason) {
        this.$message({ type: 'error', message: '请填写补交原因!' })
      } else {
        let data = {
          date: this.repairTime,
          isLate: true,
          lateReason: this.lateReason,
          workMatters: this.matterList
        }
        this.fetchCreateDaily(data).then(res => {
          if (res.status === 200) {
            this.matterList = []
            this.lateReason = ''
            this.repairTime = ''
            this.visible3 = true
            this.$message({ type: 'success', message: '补交日报成功' })
          } else {
            this.$message({ type: 'error', message: '补交日报失败' })
          }
        })
        this.dialogVisible = false
      }
    },

    // 钉钉通讯录
    colleagueChoose() {
      const _this = this
      dd.biz.contact.complexPicker({
        title: '选择参与同事', // 标题
        corpId: 'ding57ff116cf0c88b8f35c2f4657eb6378f', // 企业的corpId
        multiple: true, // 是否多选
        limitTips: '超出了', // 超过限定人数返回提示
        maxUsers: 1000, // 最大可选人数
        appId: 537601165, // 微应用Id，企业内部应用查看AgentId
        responseUserOnly: false, // 返回人，或者返回人和部门
        startWithDepartmentId: 0, // 仅支持0和-1
        onSuccess: function(result) {
          result.departments.forEach(res => {
            _this.ruleForm.coworkers.push(res.name)
          })
          result.users.forEach(res => {
            _this.ruleForm.coworkers.push(res.name)
          })
        },
        onFail: function(err) {
          console.log(err)
        }
      })
    },
    // 弹出第二时间段
    eject() {
      if (this.ruleForm.startTime !== null && this.ruleForm.endTime !== null) {
        this.visible2 = true
        this.visible4 = false
      } else {
        this.$message({
          type: 'error',
          message: '请完整填写后添加'
        })
      }
    },
    eject2() {
      if (
        this.modifyRuleForm.startTime !== null &&
        this.modifyRuleForm.endTime !== null
      ) {
        this.visible2 = true
        this.visible4 = false
      } else {
        this.$message({
          type: 'error',
          message: '请完整填写后添加'
        })
      }
    }
  }
}
</script>
<style lang="scss">
.red {
  span {
    background-color: #409eff;
    color: white !important;
  }
  td.today span {
    color: white;
  }
}
</style>
<style lang="scss" scoped>
/deep/ .el-dialog {
  min-width: 560px !important;
  margin-top: 12vh !important;
}
/deep/ .el-select-dropdown {
  display: none !important;
}

/deep/ .el-date-table td.today span {
  background-color: #409eff !important;
}
.el-form-item {
  margin-bottom: 18px;
}
.el-cascader {
  width: 100%;
}
.el-select {
  width: 100%;
}
.default {
  margin-bottom: 0px;
}
.add {
  margin: 20px 0px 0px 20px;
  .el-form {
    display: inline-block;
    .el-form-item {
      display: inline-block;
      margin-bottom: 0px;
    }
  }
  .el-tooltip {
    padding-right: 10px;
    margin-left: -10px;
  }
  /deep/ .el-textarea__inner {
    padding: 9px 15px;
    min-height: 40px !important;
    height: 40px;
  }
}
.line {
  text-align: center;
}
.operation {
  // display: inline-block;
  float: right;
  position: absolute;
  top: 40px;
  right: 20px;
  button {
    padding: 8px 8px;
  }
}
.my-work-log {
  min-height: 160px;
  margin: 20px 20px 20px 20px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.14);
  h4 {
    overflow: auto;
    display: inline-block;
    word-break: break-all;
    span {
      font-weight: 400;
      text-indent: 2em;
      margin-left: 4px;
    }
  }
  h4:last-of-type {
    width: 100%;
    margin-top: 10px;
    position: relative;
  }
  .tips p {
    text-align: center;
    margin-top: 50px;
    font-size: 12px;
    color: #71737a;
  }
}

.commit {
  text-align: center;
  padding-top: 0px;
}
</style>
