<template lang="pug">
  .view-work-log
    el-breadcrumb(separator-class="el-icon-arrow-right")
      el-breadcrumb-item(:to="{ path: '/' }") 首页
      el-breadcrumb-item 我的日报
      el-breadcrumb-item 查看日报
    .search
      .search-item
        label 人员范围
        el-select(v-model="userRange" placeholder="请选择")
          el-option(
            v-for="item in userData"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          )
      .search-item
        label 选择时间
        el-select(v-model="timeRange" placeholder="请选择")
          el-option(
            v-for="item in timeData"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          )
      .search-item(v-if="show")
        label 时间范围
        el-date-picker(
          v-model="timeFrame"
          size="medium"
          type="daterange"
          align="right"
          clearable
          range-separator="-"
          :default-value="defaultValue"
          value-format="yyyyMMdd"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="pickerOptions"
        )
      .search-button
        el-button(
          type="primary"
          @click="exportExcel"
        ) 导出
        el-button(
          @click="reset"
        ) 重置
    .result
</template>

<script>
import moment from 'moment'
import { mapActions, mapState } from 'vuex'
export default {
  data() {
    return {
      userRange: '',
      timeRange: '',
      timeFrame: '',
      show: false,
      userData: [],
      defaultValue: moment()
        .subtract(1, 'months')
        .format('YYYY-MM-DD'),
      timeData: [
        {
          value: 0,
          label: '昨天'
        },
        {
          value: 1,
          label: '今天'
        },
        {
          value: 2,
          label: '上周'
        },
        {
          value: 3,
          label: '本周'
        },
        {
          value: 4,
          label: '上月'
        },
        {
          value: 5,
          label: '本月'
        },
        {
          value: 6,
          label: '自定义范围'
        }
      ],
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() > Date.now() - 8.64e6
        }
      }
    }
  },
  mounted() {
    this.getRange()
  },
  updated() {
    if (this.timeRange === 6) {
      this.show = true
    } else this.show = false
  },
  computed: {
    ...mapState({
      userInfo: state => state.tool.userInfo
    })
  },
  methods: {
    ...mapActions('daily', ['fetchExportLog', 'fetchGetRange']),
    // 重置数据
    reset() {
      this.userRange = ''
      this.timeRange = ''
      this.timeFrame = ''
    },
    // 获取导出范围
    getRange() {
      this.fetchGetRange().then(res => {
        this.userData = res.data
      })
    },
    // 导出
    exportExcel() {
      if (!this.userRange) {
        this.$message({
          type: 'error',
          message: '请选择人员范围'
        })
      } else if (!this.timeRange) {
        this.$message({
          type: 'error',
          message: '请选择导出时间'
        })
      } else if (this.timeRange === 6 && this.timeFrame.length === 0) {
        this.$message({
          type: 'error',
          message: '请选择时间范围'
        })
      } else {
        let data = {
          type: this.userRange,
          time: this.timeRange,
          startTime: this.timeFrame[0],
          endTime: this.timeFrame[1]
        }
        this.fetchExportLog(data).then(res => {
          if (res.status === 200) {
            this.$message({ type: 'success', message: res.msg })
          } else {
            this.$message({ type: 'error', message: res.msg })
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="scss">
.search {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.14);
}
.search-item {
  margin: 20px 0 20px 0;
  display: inline-block;
  label {
    display: inline-block;
    margin-right: 20px;
    width: 96px;
    font-size: 12px;
    // color: $color-text-primary;
    text-align: right;
    line-height: 36px;
  }
}
.search-button {
  display: inline-block;
  margin-top: 20px;
  margin-left: 80px;
}
.result {
  margin: 20px;
  padding: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.14);
}
</style>
