<template lang="pug">
  .header
    .header-logo
      a(href='/')
        img(alt='LOGO' src="../assets/img/logo.jpg" width="200" href="")
    .header-user
      el-dropdown( placement="bottom-end" trigger="click")
        el-avatar(:size="40" icon="el-icon-user-solid" :src="userInfo.avatar")
        el-dropdown-menu(slot="dropdown")
          el-dropdown-item(icon="el-icon-user-solid") 个人信息
          el-dropdown-item(icon="el-icon-error") 退出
    .header-info
      i 欢迎您！{{userInfo.name}}
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      circleUrl:
        'https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png'
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.tool.userInfo
    })
  }
}
</script>

<style scoped lang="scss">
.header {
  height: 100%;
}
.header-logo {
  width: 200px;
  height: 100%;
  float: left;
  position: relative;
  img {
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.header-info {
  height: 100%;
  float: right;
  margin-right: 10px;
  position: relative;
  i {
    font-size: 12px;
    text-align: center;
    color: beige;
    line-height: 60px;
  }
}
.header-user {
  height: 100%;
  float: right;
  position: relative;
  span {
    margin-top: 10px;
  }
}
</style>
