<template lang="pug">
  .sidebar
    el-menu(:default-active="this.$route.path" class="el-menu-vertical" :collapse="isCollapse"  collapse-transition router)
      el-submenu(index='我的日报')
        template(slot="title")
          i(class="el-icon-s-home")
          span(slot="title") 我的日报
        el-menu-item-group
          el-menu-item(index="/") 填写日报 {{title}}
          el-menu-item(index="/daily/repair-workLog") 补交日报
          el-menu-item(index="/daily/view-workLog") 查看日报
      el-menu-item(index="我的周报" disabled)
        i(class="el-icon-s-order")
        span(slot="title") 我的周报
      el-menu-item(index="我的月报" disabled)
        i(class="el-icon-s-management")
        span(slot="title") 我的月报
      el-menu-item(index="/system/white-setting" v-show="userInfo.identity === 'root'")
        i(class="el-icon-s-order")
        span(slot="title") 白名单设置
      el-menu-item(index="/system/admin-setting" v-show="userInfo.identity === 'root'")
        i(class="el-icon-s-tools")
        span(slot="title") 管理员设置
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      title: '',
      isCollapse: false
    }
  },
  mounted() {
    if (this.isMobile()) {
      this.isCollapse = true
    } else {
      this.isCollapse = false
    }
  },
  computed: {
    ...mapState({
      userInfo: state => state.tool.userInfo
    })
  },
  methods: {
    isMobile() {
      let flag = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
      )
      return flag
    }
  }
}
</script>
<style scoped lang="scss">
@import '~@/assets/css/base.scss';
.el-menu-vertical:not(.el-menu--collapse) {
  width: 140px;
  min-height: 400px;
}
.sidebar {
  height: 100%;
  overflow: hidden;
  background: $color-white;
  border-right: 1px solid $border-color-light;
}
</style>
