<template lang="pug">
  #app
    el-container(v-loading="loading")
      el-header
        eapp-header
      el-container
        el-aside(width="auto")
          eapp-sidebar
        el-main
          .main-content
            router-view
</template>

<script>
import dd from 'dingtalk-jsapi'
import Header from '@/components/Header'
import Sidebar from '@/components/Sidebar'
import { mapActions } from 'vuex'
export default {
  data() {
    return {
      expireIn: '',
      loading: false
    }
  },
  name: 'App',
  components: {
    'eapp-header': Header,
    'eapp-sidebar': Sidebar
  },
  mounted() {
    const _this = this
    // 获取签名信息进行JSAPI鉴权
    _this
      .$axios({ method: 'get', url: '/jsapi_sign' })
      .then(res => {
        return res.data
      })
      .then(data => {
        dd.config({
          agentId: data.agentId, // 必填，微应用ID
          corpId: data.corpId, // 必填，企业ID
          timeStamp: data.timeStamp, // 必填，生成签名的时间戳
          nonceStr: data.nonceStr, // 必填，生成签名的随机串
          signature: data.signature, // 必填，签名
          jsApiList: ['biz.contact.complexPicker']
        })
      })
      .catch(err => {
        console.warn(err)
      })
    // 钉钉免登
    dd.ready(function() {
      dd.runtime.permission.requestAuthCode({
        corpId: 'ding57ff116cf0c88b8f35c2f4657eb6378f', // 企业id
        onSuccess: function(info) {
          let code = info.code // 通过该免登授权码可以获取用户身份
          _this.fetchLogin(code).then(res => {
            if (res.status === 200) {
              _this.$message({ type: 'success', message: res.msg })
            } else {
              _this.$message({ type: 'error', message: res.msg })
              _this.loading = true
            }
          })
        },
        onFail: function(err) {
          console.log(err)
        }
      })
      // 查看鉴权错误信息
      dd.error(function(err) {
        console.log('dd error: ' + JSON.stringify(err))
      })
    })
  },
  created() {
    this.fetchUpdate()
  },
  methods: {
    ...mapActions('tool', ['fetchUpdate', 'fetchLogin'])
  }
}
</script>

<style lang="scss">
@import '~@/assets/css/base.scss';
#app {
  height: 100%;
}
.el-header {
  // background: #355c79;
  background: rgb(48, 50, 54);
}
.el-container {
  height: 100%;
}
.el-aside {
  border-right: 1px solid $border-color-light;
  box-shadow: 2px 0 13px 0 rgba(0, 0, 0, 0.05);
}
.el-main {
  height: 100%;
}
.main-content {
  min-width: 568px;
  height: 100%;
}
</style>
